@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-nids-bg text-slate-100 antialiased;
}

.glass-panel {
  @apply bg-slate-900/60 backdrop-blur-lg border border-slate-800/80 rounded-2xl shadow-glow;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
